-- CreateTable
CREATE TABLE "BenchmarkResult" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "deviceName" TEXT NOT NULL,
    "os" TEXT NOT NULL,
    "browser" TEXT NOT NULL,
    "cpuCores" INTEGER NOT NULL,
    "ramGB" REAL NOT NULL,
    "gpuRenderer" TEXT NOT NULL,
    "avgFPS" REAL NOT NULL,
    "minFPS" REAL NOT NULL,
    "onePercentLow" REAL NOT NULL,
    "cpuScore" REAL,
    "gpuScore" REAL,
    "score" REAL NOT NULL,
    "tier" TEXT NOT NULL,
    "batteryDrain" REAL NOT NULL,
    "fpsTimeline" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

